<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/@tonconnect/sdk@latest/dist/tonconnect-sdk.min.js" defer></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>TON LEAGUE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <center>
    <h4>TON</h4>
    <p id="balance">0.000000</p>
    </center>
    

   
    <center>
    <div class="alert">
        These plans allow you to earn hourly profits in TON: you will receive a 78% return and your deposit back after 15 days.
    </div>
    </center>

    <h3 id="li">Upgrade profit</h3>

    <center>
    <div id='items'>
        <div>
            <h3>Gas Fee Master</h3>
            <h5>Profit: <b>2.3 TON</b></h5>
           
            
            <div id="connect"></div>
            <img src="static/gas.PNG">
        </div>
        <button class="shopbtn" onclick="buy1()">1 TON</button>

        <div>
            <h3>Smart Contract Auditor</h3>
            <h5>Profit: <b>6.7 TON</b></h5>
            
            <img src="static/coder.PNG">
        </div>
        <button class="shopbtn">3 TON</button>

        <div>
            <h3>Liquidity Hunter</h3>
            <h5>Profit: <b>22.5 TON</b></h5>
            
            <img src="static/solider.PNG">
        </div>
        <button class="shopbtn">10 TON</button>

        <div>
            <h3>Yield Farmer</h3>
            <h5>Profit: <b>45 TON</b></h5>
            
            <img src="static/farmer.PNG">
        </div>
        <button class="shopbtn">20 TON</button>



        
        <div>
            <h3>Hashrate Hero</h3>
            <h5>Profit: <b>111 TON</b></h5>
            
            <img src="static/hero.PNG">
        </div>
        <button class="shopbtn">50 TON</button>

        <div>
            <h3>Tokenomics Analyst</h3>
            <h5>Profit: <b>225 TON</b></h5>
            
            <img src="static/analytics.PNG">
        </div>
        <button class="shopbtn">100 TON</button>

        <div>
            <h3>Market Battler</h3>
            <h5>Profit: <b>555 TON</b></h5>
            
            <img src="static/box.PNG">
        </div>
        <button class="shopbtn">250 TON</button>

        <div>
            <h3>Crypto News</h3>
            <h5>Profit: <b>1111 TON</b></h5>
            
            <img src="static/news.PNG">
        </div>
        <button class="shopbtn">500 TON</button>

        <div>
            <h3>Anti FOMO System</h3>
            <h5>Profit: <b>2250 TON</b></h5>
            
            <img src="static/fomo.PNG">
        </div>
        <button class="shopbtn">1000 TON</button>
    </div>
        </center>


        <div class="manager">
            <div id="team" onclick="location.href='/home{{ user_id }}'">HOME</div>
            <div id="shop" onclick="location.href='/mine{{ user_id }}'">MINE</div>
            <div id="profile" onclick="location.href='/team{{ user_id }}'">TEAM</div>
        </div>
    
        

    <footer>
    </footer>
    <script src="ton_handler.js"></script>
    <script src="static/mine_balance.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="static/script.js"></script>
    <script src="static/mine.js"></script>
    <script src="static/mine-pos.js">
        

    </script>
</body>
</html>