<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/mine-set.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/mine-set.css">
    <title>TON LEAGUE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <center>
    <div id="ton-connect"></div>
    </center>

    <script>
        const tonConnectUI = new TON_CONNECT_UI.TonConnectUI({
            manifestUrl: 'https://tonleague.ru/tonconnect-manifest.json',
            buttonRootId: 'ton-connect'
        });

        async function connectToWallet() {
            const connectedWallet = await tonConnectUI.connectWallet();
            // Do something with connectedWallet if needed
            console.log(connectedWallet);
        }

            // Call the function
            //connectToWallet().catch(error => {
            //console.error("Error connecting to wallet:", error);
            //});
        async function create_pay(amount_ton) {
            const transaction = {
            validUntil: Math.floor(Date.now() / 1000) + 360,
            messages: [
            {
                address: "UQCzQAiDC_kp2JA0PjCaFdugixrVMoEmVVHX953c50bgZE90", // destination address
                amount: String(amount_ton * 1000000000) // Toncoin in nanotons 1000000000 = 1 TON
            }
            ]
        }
        try {
            connectToWallet().catch(error => {
                console.error("Error connecting to wallet:", error);
            });

            const result = await tonConnectUI.sendTransaction(transaction)
            if (result) {
                alert('Success buy!')
                console.log('Success')
                // success way 
                set_miner(amount_ton);
                
            }
            else {
                console.log('No transaction')
                
            }
        }
        
        catch(error) {
            //set_miner(amount_ton); // DELETE LATER
            console.log(error);
        }
        
    }
    </script>

    <center>
    <h4>TON</h4>
    <p id="balance">0.000000</p>
    </center>
    
    <img src="">

    <center>
        <div id="nav">
            <button style='background-color: white; color: #0c81d4; border-bottom: 3px solid #a8d4fd;' id='s1' onclick="location.href='/shop{{ user_id }}'">Mine</button>
            <button style='border-bottom: 3px solid #0269c9;' id='s2' onclick="location.href='/uniqe{{ user_id }}'">Promo</button>
            <button style='border-bottom: 3px solid #0269c9;' id='s3' onclick="location.href='/tap{{ user_id }}'">Tap</button>
        </div>
    </center>
   
    <center>
    <div class="alert">
        These plans allow you to earn hourly profits. Each position presented will earn you 125% for 14 days. After 14 days, you will get your deposit back.
    </div>
    </center>

    
    <center>
   <div id="shoper">
        <div>
            <h3>Gas Fee Master</h3>
            <h6>Profit: <b>2.3 TON</b></h6>
            <button onclick="banner_1()">1 TON</button>
            <img src="static/gas.gif" alt="">
        </div>
        <div>
            <h3>Contract Auditor</h3>
            <h6>Profit: <b>6.7 TON</b></h6>
            <button onclick="banner_2()">3 TON</button>
            <img src="static/admin.gif" alt="">
        </div>
        <div>
            <h3>Liquidity Hunter</h3>
            <h6>Profit: <b>23 TON</b></h6>
            <button onclick="banner_3()">10 TON</button>
            <img src="static/solider.gif" alt="">
        </div>
        <div>
            <h3>Yield Farmer</h3>
            <h6>Profit: <b>45 TON</b></h6>
            <button onclick="banner_4()">20 TON</button>
            <img src="static/straw.gif" alt="">
        </div>
        <div>
            <h3>Whales Club</h3>
            <h6>Profit: <b>111 TON</b></h6>
            <button onclick="banner_5()">50 TON</button>
            <img src="static/whale.gif" alt="">
        </div>
        <div>
            <h3>Analyst</h3>
            <h6>Profit: <b>225 TON</b></h6>
            <button onclick="banner_6()">100 TON</button>
            <img src="static/anal.gif" alt="">
        </div>
        <div>
            <h3>Market Battler</h3>
            <h6>Profit: <b>555 TON</b></h6>
            <button onclick="banner_7()">250 TON</button>
            <img src="static/babki.gif" alt="">
        </div>
        <div>
            <h3>Crypto News</h3>
            <h6>Profit: <b>1111 TON</b></h6>
            <button onclick="banner_8()">500 TON</button>
            <img src="static/brain.gif" alt="">
        </div>
   </div>
</center>


        <div class="manager">
            <div id="team" onclick="location.href='/home{{ user_id }}'">HOME</div>
            <div id="shop" onclick="location.href='/shop{{ user_id }}'">MINE</div>
            <div id="profile" onclick="location.href='/team{{ user_id }}'">TEAM</div>
        </div>
    
        

    <footer>
    </footer>
    <script src="static/banners.js"></script>
    <script src="static/miner-functions.js"></script>
    <script src="static/mine_balance.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="static/script.js"></script>
    <script src="static/mine.js"></script>
    <script src="static/mine-pos.js">
        

    </script>
</body>
</html>